@media only screen and (min-width: 900px) {
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #e2e4e6;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background: #c3c7cd;
    border-radius: 10px;
  }

  *:hover::-webkit-scrollbar-thumb {
    background: #a2aab7;
  }
  *:hover::-webkit-scrollbar-track {
    background: #eff3f6;
  }
}

.ant-table-thead > tr > th {
  z-index: 9 !important;
}

th.ant-table-cell.__index_priority.ant-table-cell-fix-left {
  z-index: 10 !important;
}
th.ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left {
  z-index: 10 !important;
}
