@media only screen and (min-width: 900px){
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #E2E4E6;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background: #C3C7CD ;
    border-radius: 10px;
  }

  *:hover::-webkit-scrollbar-thumb {
    background: #A2AAB7;
  }
  *:hover::-webkit-scrollbar-track {
    background: #EFF3F6;
  }
}
