input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.SnackbarContainer-root {
    z-index: 3001!important;
}

.top {
    top: 156px;
}

.down {
    top: -156px !important;
}

.up {
    top: 156px;
}

*::-webkit-scrollbar {
    height: 14px !important;    
}
  
/* Track */
*::-webkit-scrollbar-track {
    background: #EFF3F7 !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #A2AAB7 !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #A2AAB7 !important;
}