input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.SnackbarContainer-root {
  z-index: 3001 !important;
}

.top {
  top: 154px;
}

.down {
  top: 154px !important;
}

.up {
  top: 154px;
}

*::-webkit-scrollbar {
  height: 14px !important;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #eff3f7 !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #a2aab7 !important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #a2aab7 !important;
}
